.banner-main {
  .banner-wrapper {
    padding: 100px 20px 150px 20px;
    .banner-text {
      h1 {
        font-style: "Gilroy-Medium", sans-serif !important;
        font-size: 70px;
      }
      .banner-input {
        width: 398px;
        height: 58px;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        input {
          width: 75%;
          height: inherit;
          padding: 20px;
          border: none;
          &:focus {
            outline: none;
          }
        }
        button {
          margin-top: 0;
          width: 25%;
          height: inherit;
          outline: none;
          border: none;
        }
      }
    }
  }
}
