.blog-main {
  .blog-wrapper {
    .title {
      font-size: 24px;
    }
    .blog-items {
      display: grid;
      grid-template-columns: repeat(4, 277px);
      grid-template-rows: repeat(2, 1fr);
      justify-content: space-between;
      gap: 41px;
      .blog-card {
        border-radius: none !important;
        .blog-img {
          width: inherit;
          height: inherit;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .blog-dtls {
          padding: 15px;
          p {
            font-size: 16px;
          }
          span {
            font-size: 12px;
          }
        }
        &:nth-child(3) {
          grid-column: 2/4;
          grid-row: 1/3;
        }
      }
    }
  }
}
