.footer-main {
  background-color: #1ac073;
  .footer-routes {
    ul {
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .footer-border {
    border-bottom: 1px solid white;
  }
}
