.kitchen-main {
  background-color: #f7f8fa;
  .kitchen-wrapper {
    padding: 105px 20px;
    .kitchen-topper {
      .title {
        margin: 0;
        font-size: 24px;
      }
      .btn-group {
        label {
          padding: 5px;
        }
      }
    }
    .kitchen-items {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
      .food-card {
        width: 277px;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        .food-img {
          position: relative;
          width: 277px;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          span {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .food-dtls {
          padding: 15px 15px 25px 15px;
          .name-part {
            display: flex;
            justify-content: space-between;
            .food-name {
            }
          }
          .others-part {
            .food-rating {
              background: #f7f8fa;
              border: 1px solid #bebebe;
              border-radius: 5px;
              padding: 2px 10px;
            }
            .food-delivery-time {
              background: #f7f8fa;
              border: 1px solid #bebebe;
              border-radius: 5px;
              padding: 2px 10px;
              margin-left: 8px;
            }
            .food-add-to-cart {
              cursor: pointer;
            }
          }
        }
      }
    }
    .load-btn {
      margin-top: 100px;
    }
  }
}
