.navbar {
  .nav-routes {
    ul {
      margin-bottom: 0;
      li {
        list-style: none;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .nav-others {
    .add-to-cart-icon {
      text-decoration: none;
      position: relative;
      span {
        top: -11px;
        left: 11px;
        border-radius: 50%;
        padding: 0px 7px;
        position: absolute;
      }
    }
  }
}
